@model EventManagement.MVC.Models.UpdateEventViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Event</h1>
<hr />

<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-controller="Event" asp-action="Edit" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken() <!-- Add anti-forgery token -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Event Name:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label">City:</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address:</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketQuantity" class="control-label">Ticket Quantity:</label>
                <input asp-for="TicketQuantity" class="form-control" />
                <span asp-validation-for="TicketQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description:</label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Start Date:</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">End Date:</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <label asp-for="Photo" class="custom-file-label control-label">Picture:</label>
                    <input asp-for="Photo" type="file" class="custom-file-input form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Edit Event</button>
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" asp-controller="Event" class="btn btn-secondary">Back to List</a>
</div>
    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
